body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 215px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y: auto;
    padding-top: 20px;
}

.sidenav img {
	float: left;
	position: relative;
	margin: 0px 10px 20px 22px;
	border-radius: 50%;
}

.sidenav a, .dropdown-btn {
    padding: 2px 6px 6px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    <img style='height: 100%; width: 100%; object-fit: contain'/>
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.main {
    margin-left: 220px;
    font-size: 18px;
    padding: 0px 5px;
}
/*
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/